@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户管理</a>
        <a>
            <cite>个人信息</cite>
        </a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="columnId" id="columnSelect">
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" id="title" placeholder="请输入标题关键字" id="title" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <button type="button" class="layui-btn" data-type="reload" id="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加内容','/Content/Edit',800,600)"><i class="layui-icon"></i>添加</button>
                    <button class="layui-btn layui-btn-danger" id="delall">
                        <i class="layui-icon"></i>批量删除
                    </button>

                </div>
                <div class="layui-card-body">
                    <table class="layui-table layui-form" id="list" lay-filter="content">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--操作-->
<script type="text/html" id="barContent">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>

@*<script src="~/Scripts/content/content.js?v=@DateTime.Now.ToString("yyyymmddHHMMss")"></script>*@
