body{background-color:#f3f3f3;margin:0}
div#wrapper{position:absolute;z-index:1;top:0;left:0;width:100%;overflow:hidden;bottom:50px}
.goods-list{list-style:none;padding:0;margin:0;width:100%;text-align:left}
.goods-info{width:100%;height:145px;background-color:#fff;display:table;margin-left:auto;margin-right:auto;margin-top:10px}
.goods-info .goods-img{float:left;width:25%}
.goods-info .goods-img img{width:85px;display:block;height:85px;min-height:85px}
.goods-info .ti_info{padding:5px 9px;width:65%;height:90px;float:left}
.goods-info .ti_info .tii_title{-webkit-tap-highlight-color:transparent}
.goods-info .ti_info .tii_title h3{font-size:12px;line-height:18px;color:#333;height:37px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden;margin:5px 0}
.goods-info .ti_info .tii_price{font-size:14px;font-weight:700;color:#dd2727;margin-top:9px;height:24px;line-height:14px}
.goods-info .ti_info .tii_price .list_m_font{font-size:14px;font-weight:400;line-height:18px}
.goods-info-top{width:100%;height:90px;padding:10px}
.totalamount{border-top:1px solid #eaeaea;width:100%;padding:10px;font-size:;font-size:12px;color:#444444}
span.totalamount-money{float:right;margin:4px 29px 12px 0px;color:red;font-weight:700;font-size:14px}
.totalamount-money i.iconfont.list_m_font{font-size:14px;font-weight:200}
span.totalamount-title{float:right;margin:4px 0px 12px 0px}
span.totalamount-num{float:right;margin:4px 20px 12px 0px}
span.goods-num{float:right;font-weight:400;color:#444444;font-size:12px}
.goods-buy{position:fixed;width:100%;height:50px;bottom:0;left:0;border-top:1px solid #fbf2f2;background-color:#fff;z-index:2}
.goods-buy .goods-buy-ul{color:#9E9E9E}
.goods-buy .goods-buy-ul .jieusan{width:30%;height:100%;line-height:50px;text-align:center;float:right;color:#fff;font-size:16px;background-color:#FF5722}
.goods-buy .goods-buy-ul .money{width:70%;height:100%;line-height:50px;text-align:right;float:left;color:#444444;font-size:16px}
.goods-buy .goods-buy-ul .money span{margin-right:5px;font-size:14px}
.goods-buy .goods-buy-ul .money i.iconfont.list_m_font{font-size:14px;font-weight:200;color:red}
.goods-buy .goods-buy-ul .money  span.money-number{float:right;margin:2px 22px 0px 1px;color:red;font-weight:700;font-size:14px}
.ShippingAddress{height:90px;width:100%;background-color:white;border-top:10px solid white;border-bottom:4px  dashed #81a2bb}
.ShippingAddress .left{height:100%;width:10%;float:left;line-height:90px;text-align:center;color:#444444}
.ShippingAddress .right{float:left;width:80%;height:100%;font-size:14px;color:#444444}
.ShippingAddress span.adress{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden;padding:0px}
.ShippingAddress .top{height:30px;line-height:30px}
.ShippingAddress .buttom{height:60px}
.ShippingAddress .next-address{height:100%;width:10%;float:right;line-height:90px;text-align:center;color:#666666}
.ShippingAddress span.phone{float:right}