@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="/home/index">网站后台管理</a>
    </div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <!--<a href="javascript:;">+新增</a>
            <dl class="layui-nav-child">-->
            <!-- 二级菜单 -->
            <!--<dd>
                    <a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">
                        <i class="iconfont">&#xe6a2;</i>弹出最大化
                    </a>
                </dd>
                <dd>
                    <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">
                        <i class="iconfont">&#xe6a8;</i>弹出自动宽高
                    </a>
                </dd>
                <dd>
                    <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">
                        <i class="iconfont">&#xe6a8;</i>弹出指定宽高
                    </a>
                </dd>
            </dl>-->
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" id="account"></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('个人信息','/user/index')">个人信息</a>
                </dd>
                <dd>
                    <div id="loginout">
                        <a href="#">退出</a>
                    </div>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/">前台首页</a>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="栏目管理">&#xe6a9;</i>
                    <cite>栏目管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('栏目列表','/Column/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>栏目列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="内容管理">&#xe6a9;</i>
                    <cite>内容管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('内容列表','/Content/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>内容列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="会展中心">&#xe6a9;</i>
                    <cite>会展中心</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('公司管理','/Corporation/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>公司管理</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('展品管理','/CorpProduct/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>展品管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="站点设置">&#xe6a9;</i>
                    <cite>站点设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('站点信息','/SiteInfo/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>站点信息</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="nav">
            @*<li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="系统管理">&#xe6a9;</i>
                        <cite>系统管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a onclick="xadmin.add_tab('用户管理','/User/index')">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户管理</cite>
                            </a>
                        </li>
                    </ul>
                </li>*@
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='about:blank' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
@*<div class="footer">
        <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved</div>
    </div>*@
<script src="~/webSource/js/jquery.min.js"></script>
<script type="text/javascript">

    $(function () {
        //设置用户名
        $('#account').text(sessionStorage.getItem('Account'));
        //退出
        $("#loginout").click(function () {
            parent.location.href = '/home/login';
            ////清楚session
            //sessionStorage.removeItem('Account');
            //sessionStorage.removeItem('token');
            sessionStorage.clear();
        });
    })
</script>