@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/less">
    .layui-fluid .layui-form .layui-form-item .layui-upload-drag {
        border: 1px dashed #c0ccda;
        border-radius: 6px;
        padding: 10px;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" lay-filter="corp-form">
            <input type="text" name="CorpId" class="layui-input layui-hide" />
            <input type="text" name="Creator" class="layui-input layui-hide" />
            <input type="text" name="Cover" lay-verify="Cover" class="layui-input layui-hide" />
            <input type="text" name="Logo1" lay-verify="Logo1" class="layui-input layui-hide" />
            <input type="text" name="Logo2" lay-verify="Logo2" class="layui-input layui-hide" />
            <input type="text" name="AboutUsCover" lay-verify="AboutUsCover" class="layui-input layui-hide" />
            <input type="text" name="ContactUsBg" lay-verify="ContactUsBg" class="layui-input layui-hide" />

            @*公司名Name*@
            <div class="layui-form-item">
                <label for="Name" class="layui-form-label">
                    <span class="x-red">*</span> 公司名
                </label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" lay-verify="Name"
                           placeholder="请输入公司名" autocomplete="off" class="layui-input" value="">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                    必填项，长度不能大于100
                </div>
            </div>

            @*是否显示IsShow*@
            <div class="layui-form-item">
                <label for="IsShow" class="layui-form-label">
                    是否显示
                </label>
                <div class="layui-input-inline">
                    <input type="checkbox" checked name="IsShow" value="1" lay-skin="switch" lay-text="显示|不显示">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>不显示前台则无法显示
                </div>
            </div>

            @*所属栏目 ColumnId*@
            <div class="layui-form-item">
                <label for="AboutUs" class="layui-form-label">
                    <span class="x-red">*</span>  所属栏目
                </label>
                <div id="ColSelect" class="layui-input-inline xm-select-demo">

                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                    选择公司属于哪个仿真实验云。可多选
                </div>
            </div>

            @*关于我们 AboutUs*@
            <div class="layui-form-item">
                <label for="L_AboutUs" class="layui-form-label">
                    关于我们
                </label>
                <div class="layui-input-block">
                    <textarea placeholder="请添加关于我们描述" name="AboutUs" lay-verify="AboutUs" autocomplete="off" class="layui-textarea"></textarea>
                </div>
            </div>

            @*联系我们 ContactUs*@
            <div class="layui-form-item">
                <label for="ContactUs" class="layui-form-label">
                    <span class="x-red">*</span>联系我们
                </label>
                <div class="layui-input-inline">
                    <input type="text" name="ContactUs" lay-verify="ContactUs"
                           placeholder="请填写联系我们跳转链接" autocomplete="off" class="layui-input" value="">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                    此处填写三方链接,必须以<span class="x-red">https:// 或http://开头</span>
                </div>
            </div>

            @*排序Sort*@
            <div class="layui-form-item">
                <label for="Sort" class="layui-form-label">
                    排序
                </label>
                <div class="layui-input-inline">
                    <input type="text" name="Sort" lay-verify="Sort"
                           placeholder="排序" autocomplete="off" class="layui-input" value="">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>数字越小排序越靠前，不填写，默认最后展示
                </div>
            </div>

            @*封面图Cover*@
            <div class="layui-form-item">
                <label for="Cover" class="layui-form-label">
                    <span class="x-red">*</span>  封面图
                </label>
                <div class="layui-input-block">
                    <div class="layui-upload-drag" id="CoverUpload">
                        <p>
                            <span class="x-red">*</span>
                            点击上传，或将图片拖拽到此处
                        </p>
                        <p>
                            <span class="x-red">*</span>
                            用于首页教学设备云上会展公司封面
                            <br />
                            尺寸建议上传295*310像素
                        </p>
                        <div class="layui-hide" id="CoverImgDiv">
                            <hr />
                            <img src="" id="CoverImg" alt="上传公司封面图" style="width:60%;height:60%;" />
                        </div>
                    </div>
                </div>
            </div>

            @*灰色Logo Logo1*@
            <div class="layui-form-item">
                <label for="Logo1" class="layui-form-label">
                    <span class="x-red">*</span>  灰色Logo
                </label>
                <div class="layui-input-block">
                    <div class="layui-upload-drag" id="Logo1Upload">
                        <p>
                            <span class="x-red">*</span>
                            点击上传，或将图片拖拽到此处
                        </p>
                        <p>
                            <span class="x-red">*</span>
                            尺寸建议上传148*45像素
                            <br />
                            用于教学设备云上会展左侧公司非悬浮时显示
                        </p>
                        <div class="layui-hide" id="Logo1ImgDiv">
                            <hr />
                            <img src="" id="Logo1Img" alt="上传灰色公司Logo图" style="width:60%;height:60%;" />
                        </div>
                    </div>
                </div>
            </div>

            @*正常Logo Logo2*@
            <div class="layui-form-item">
                <label for="Logo2" class="layui-form-label">
                    <span class="x-red">*</span>  正常Logo
                </label>
                <div class="layui-input-block">
                    <div class="layui-upload-drag" id="Logo2Upload">
                        <p>
                            <span class="x-red">*</span>
                            点击上传，或将图片拖拽到此处
                        </p>
                        <p>
                            <span class="x-red">*</span>
                            尺寸建议上传148*45像素
                            <br />
                            教学设备云上会展左侧公司鼠标悬浮时显示
                        </p>
                        <div class="layui-hide" id="Logo2ImgDiv">
                            <hr />
                            <img src="" id="Logo2Img" alt="上传正常公司Logo图" style="width:60%;height:60%;" />
                        </div>
                    </div>
                </div>
            </div>

            @*关于我们图片 AboutUsCover*@
            <div class="layui-form-item">
                <label for="L_AboutUsCover" class="layui-form-label">
                    <span class="x-red">*</span>关于我们
                    <br />
                    图片
                </label>
                <div class="layui-input-block">
                    <div class="layui-upload-drag" id="AboutUsCoverUpload">
                        <p>
                            <span class="x-red">*</span>
                            点击上传，或将图片拖拽到此处
                        </p>
                        <p>
                            <span class="x-red">*</span>
                            尺寸建议上传469*302像素
                            <br />
                            教学设备云上会展关于我们左侧图片
                        </p>
                        <div class="layui-hide" id="AboutUsCoverImgDiv">
                            <hr />
                            <img src="" id="AboutUsCoverImg" alt="上传关于我们左侧图片" style="width:60%;height:60%;" />
                        </div>
                    </div>
                </div>
            </div>

            @*联系我们背景图 ContactUsBg*@
            <div class="layui-form-item">
                <label for="ContactUsBg" class="layui-form-label">
                    联系我们
                    <br />
                    背景图
                </label>
                <div class="layui-input-block">
                    <div class="layui-upload-drag" id="ContactUsBgUpload">
                        <p>
                            <span class="x-red">*</span>
                            点击上传，或将图片拖拽到此处
                        </p>
                        <p>
                            <span class="x-red">*</span>
                            尺寸建议上传948*191像素
                            <br />
                            联系我们背景图片
                        </p>
                        <div class="layui-hide" id="ContactUsBgImgDiv">
                            <hr />
                            <img src="" id="ContactUsBgImg" alt="上传关于我们背景图" style="width:60%;height:60%;" />
                        </div>
                    </div>
                </div>
            </div>

            @*保存按钮*@
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-submit lay-filter="save-corp" style="background-color: #1b8fe4;">
                    立即提交
                </button>
            </div>
        </form>
    </div>
</div>
@* *@
<script src="~/Scripts/corporation/corpEdit.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss") "></script>