@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" action="" lay-filter="contentform">
            <input id="contentId" type="hidden" value="0" name="Id" />
            <input id="creator" type="hidden" value="0" name="creator" />
            <input id="modifier" type="hidden" value="0" name="modifier" />
            <input id="isNews" type="hidden" value="0" />

            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>标题
                </label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题，最多输入500个字符" lay-reqtext="标题为必填项，不能为空" class="layui-input">  <div class="layui-form-mid layui-word-aux">
                        @*<span class="x-red">*</span>不发布前台则无法显示*@
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>所属栏目类别
                </label>
                <div class="layui-input-inline">
                    <select name="columnId" id="columnSelect" lay-verify="required" lay-filter="brickType">
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    是否发布
                </label>
                <div class="layui-input-inline">
                    <input type="checkbox" checked name="isPublic" value="true" lay-skin="switch" lay-text="发布|不发布">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>不发布前台则无法显示
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="createDate" readonly id="start" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>不填，默认当前时间
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">推荐到首页</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="isDefault" value="true" lay-skin="switch" lay-text="推荐|不推荐">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">添加到轮播</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="isCarousel" value="true" lay-skin="switch" lay-text="添加|不添加">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="Sort" lay-verify="" id="sort" value="" lay-reqtext="" placeholder="请填写数字" maxlength="4" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>数字越小排序越靠前，不填写，默认最后展示
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">跳转链接</label>
                <div class="layui-input-inline">
                    <input type="text" name="linkUrl" placeholder="" lay-verify="" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                    为空。默认跳网站详情页，填写<span class="x-red">三方链接</span>则优先打开三方链接
                </div>
            </div>
            <div class="layui-form-item">
                <label for="ImgUrl1" class="layui-form-label">
                    <span class="x-red"></span>封面
                </label>
                <!--图片文件地址-->
                <input type="hidden" value="" name="imgUrl1" id="ImgUrl1" />
                <div class="layui-input-block">
                    <div class="layui-upload-drag" style="border:1px dashed #c0ccda; border-radius:6px;padding:10px" id="Img1Upload">
                        <p>点击上传，或将图片拖拽到此处</p>
                        <p>尺寸建议上传像素</p>
                        <div class="layui-hide" id="Img1">
                            <hr>
                            <img src="" alt="上传成功后渲染" style="height:20%;width:20%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" id="newscover">
                <label for="ImgUrl1" class="layui-form-label">
                    <span class="x-red">*</span> 内页封面
                </label>
                <!--图片文件地址-->
                <input type="hidden" value="" lay-verify="" name="imgUrl2" lay-reqtext="请上传内页封面图片" id="ImgUrl2" />
                <div class="layui-input-block">
                    <div class="layui-upload-drag" style="border:1px dashed #c0ccda; border-radius:6px;padding:10px" id="Img2Upload">
                        <p>点击上传，或将图片拖拽到此处</p><p>尺寸建议上传139*103像素</p>
                        <div class="layui-hide" id="Img2">
                            <hr><img src="" alt="上传成功后渲染" style="height:20%;width:20%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <!--添加富文本-->
                    <script id="container" name="content" type="text/plain">
                    </script>
                    @*<textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>*@
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="contentsubmit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/ueditor/ueditor.config.js"></script>
<script src="~/lib/ueditor/ueditor.all.min.js"></script>
<script src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">

</script>

<script src="~/Scripts/content/edit.js?v=@DateTime.Now.ToString("yyyymmddhhMMss")"></script>
