@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style type="text/css">
    .layui-fluid .layui-form .layui-form-item .layui-upload-drag {
        border: 1px dashed #c0ccda;
        border-radius: 6px;
        padding: 10px;
    }
</style>

<div class="layui-fluid">
    <form class="layui-form" lay-filter="product-form">
        @*隐藏字段: Id, Cover*@
        <input type="text" name="Id" class="layui-input layui-hide" />
        <input type="text" name="Cover" lay-verify="Cover" class="layui-input layui-hide" />


        @*Name*@
        <div class="layui-form-item">
            <label for="Name" class="layui-form-label">
                展品名称
            </label>
            <div class="layui-input-inline">
                <input type="text" name="Name" lay-verify="Name"
                       placeholder="请输入展品名称" autocomplete="off" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
                必填项，长度不能大于200
            </div>
        </div>

        @*IsShow*@
        <div class="layui-form-item">
            <label for="IsShow" class="layui-form-label">
                是否显示
            </label>
            <div class="layui-input-inline">
                <input type="checkbox" checked name="IsShow" value="1" lay-skin="switch" lay-text="显示|不显示">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>不显示前台则无法显示
            </div>
        </div>

        @*CorpId 下拉选择框*@
        <div class="layui-form-item">
            <label class="layui-form-label">所属公司</label>
            <div class="layui-input-inline">
                <select name="CorpId" id="bindCorp" lay-verify="CorpId">
                    <option value=""></option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
                必选项，必须选择展品所属公司
            </div>
        </div>

        @*LocationUrl*@
        <div class="layui-form-item">
            <label class="layui-form-label">跳转链接</label>
            <div class="layui-input-inline">
                <input type="text" name="LocationUrl"
                       placeholder="请输入产品跳转链接" autocomplete="off" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
                填写后，展品跳转对应网络链接，为空时默认跳详情页
            </div>
        </div>

        @*Sort*@
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" name="Sort" lay-verify="Sort"
                       placeholder="不填默认排最后" autocomplete="off" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>数字越小排序越靠前，不填写，默认最后展示
            </div>
        </div>

        @*上传封面图*@
        <div class="layui-form-item">
            <label for="Cover" class="layui-form-label">
                封面图
            </label>
            <div class="layui-input-block">
                <div class="layui-upload-drag">
                    <p>
                        <span class="x-red">*</span>
                        点击上传，或将图片拖拽到此处
                    </p>
                    <p>
                        <span class="x-red">*</span>
                        尺寸建议上传197*167像素
                        <br />
                        用于教学设备云上会展展品展示展品封面
                    </p>
                    <div class="layui-hide" id="CoverImgDiv">
                        <hr />
                        <img src="" id="CoverImg" alt="上传公司封面图" style="width:60%;height:60%;" />
                    </div>
                </div>
            </div>
        </div>

        @*Content富文本*@
        <div class="layui-form-item">
            <label for="Content" class="layui-form-label">
                内容
            </label>
            <div class="layui-input-block">
                <script id="container" name="content" type="text/plain">
                </script>
            </div>
        </div>

        @*保存按钮*@
        <div class="layui-form-item">
            <label for="submit" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-submit lay-filter="save-product" style="background-color: #1b8fe4;">
                立即提交
            </button>
        </div>
    </form>
</div>
<script src="~/lib/ueditor/ueditor.config.js"></script>
<script src="~/lib/ueditor/ueditor.all.min.js"></script>
<script src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
@* ?v=@DateTime.Now.ToString("yyyyMMddHHmmss") *@
<script src="~/Scripts/corpProduct/produtEdit.js"></script>