@{
    ViewBag.Title = "编辑栏目";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<link href="~/Content/columnedit.css" rel="stylesheet" />
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" action="" lay-filter="columnForm">
            <input id="columnId" type="hidden" value="0" name="columnId" />
            <input id="creator" type="hidden" value="0" name="creator" />
            <input id="modifier" type="hidden" value="0" name="modifier" />
            <input id="level" type="hidden" value="0" name="level" />
            <div class="layui-form-item">
                <label for="colName" class="layui-form-label">
                    <span class="x-red">*</span>栏目名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" name="colName" lay-verify="required" lay-reqtext="栏目为必填项，不能为空" class="layui-input" placeholder="请输入栏目名称，50个中文字符" maxlength="50" autocomplete="off">
                </div> <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>栏目名称唯一
                </div>
            </div>
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>父级类别
                </label>
                <div class="layui-input-inline">
                    <select name="parentId" id="parentIdSelect">
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    是否显示
                </label>
                <div class="layui-input-inline">
                    <input type="checkbox" checked name="isShow" value="true" lay-skin="switch" lay-text="显示|不显示">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>不显示前台则无法显示
                </div>
            </div>
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    是否新闻栏目
                </label>
                <div class="layui-input-inline">
                    <input type="checkbox" checked name="isNews" value="true" lay-skin="switch" lay-text="是|不是">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>勾选，在添加内容页面展示上传内页封面
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">视频</label>
                <div class="layui-input-inline">
                    <input type="text" name="video" readonly id="Video" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="uploadvideo"><i class="layui-icon"></i>上传视频</button>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="sort" lay-verify="number" lay-reqtext="格式不正确，请输入数字" value="99" placeholder="请填写大于0的数字" maxlength="5" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>数字越小排序越靠前，不填写，默认最后展示
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">跳转链接</label>
                <div class="layui-input-inline">
                    <input type="text" name="locationUrl" lay-verify="required" lay-reqtext="跳转链接为必填项，不能为空" placeholder="" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                    填写后直接跳转到该网址或站内跳转
                </div>
            </div>
            <div class="layui-form-item">
                <!--文件地址-->
                <input type="hidden" value="" name="coverUrl" id="coverUrl" lay-verify="required" lay-reqtext="必须上传轮播图" />
                <div class="layui-form-item" id="pics">
                    <div class="layui-form-label"><span class="x-red">*</span>轮播图</div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>
                        支持多图上传，尺寸建议上传首页1920*547，内页1920*300像素
                    </div>
                    <div class="layui-input-block" style="width: 70%;">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-primary pull-left" id="slide-pc">添加多图</button>
                            <div class="pic-more">
                                <ul class="pic-more-upload-list" id="slide-pc-priview">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="CoverLinks" class="layui-form-label">
                    <span class="x-red">*</span>轮播图
                    <br />跳转链接
                </label>
                <div class="layui-input-block">
                    <textarea name="coverLinks" lay-verify="coverLinks"
                              placeholder="轮播图跳转链接，不允许为空，与轮播图对应，用英文半角:,隔开，无跳转用#符号占位。例：‘https://www.***.com,#,www.***.com’格式" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="ImgUrl1" class="layui-form-label">
                    <span class="x-red"></span>图标
                </label>
                <!--文件地址-->
                <input type="hidden" value="" name="icon" id="icon" />
                <div class="layui-input-block">
                    <div class="layui-upload-drag" style="border:1px dashed #c0ccda; border-radius:6px;padding:10px" id="IconUpload">
                        <p>点击上传，或将图片拖拽到此处</p>
                        <p>尺寸建议上传131*131像素</p>
                        <div class="layui-hide" id="IconImg">
                            <hr>
                            <img src="" alt="上传成功后渲染" style="height:20%;width:20%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea name="summary" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="columnsubmit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
@* ?v=@DateTime.Now.ToString("yyyyMMddHHmmss") *@
<script src="~/Scripts/column/edit.js"></script>