@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">系统管理</a>
        <a href="">用户管理</a>
    </span>
</div>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <input type="text" id="username" placeholder="用户姓名" autocomplete="off" class="layui-input" style="float:left;">
            <button class="layui-btn" lay-submit="" type="button" lay-filter="sreach" onclick="SearchUser()" style="float:left;margin-left:10px;background-color: #1b8fe4;">搜索</button>
            <button class="layui-btn" type="button" onclick="x_admin_show('添加用户','@Url.Action("Edit","Column")',600,520)" style="float:left;margin-left:10px;background-color: #1b8fe4;">新增</button>
        </div>
    </div>
    <div id="content">
        <table class="layui-table">
            <thead id="list">
                <tr>
                    @*<th>
                            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                        </th>*@
                    <th>
                        编号
                    </th>
                    <th>
                        用户姓名
                    </th>
                    <th>
                        账号
                    </th>
                    <th>
                        登录次数
                    </th>
                    <th>
                        最后登录时间
                    </th>
                    <th>
                        最后登录IP
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>

            <tbody class="test">
               
            </tbody>
        </table>

    </div>
</div>
<script>
    //删除
    function deleteUser(id) {
        layer.confirm('确认要删除吗？', function (index) {
            url = "/User/Delete";
            parameter = { userId: id };
            $.post(url, parameter, function (data) {
                if (data.IsSuccess) {
                    alertMsg("删除成功!");
                }
                else {
                    alertMsg("删除失败!");
                }
            });
        });
    }


    //删除
    function deleteAllUser() {
        var ids = new Array();
        $("div[class='layui-unselect layui-form-checkbox layui-form-checked']").each(function () {
            ids.push($(this).attr("data-id"));
        });

        if (ids.length > 0) {
            layer.confirm('确认要删除选中项吗？', function (index) {
                url = "/User/DeleteAll";
                parameter = { ids: ids.toString() };
                $.post(url, parameter, function (data) {
                    if (data.IsSuccess) {
                        alertMsg("删除成功!");
                    }
                    else {
                        alertMsg("删除失败!");
                    }
                });
            });
        }
        else {
            alertMsg("请选选择要删除的用户!");
            return;
        }
    }


    //搜索
    function SearchUser() {
        $.ajax({
            type: "POST",
            async: true,
            url: "/User/Index",
            data: { username: $("#username").val() },
            success: function (data) {
                $("#content").empty();
                $("#content").html(data);

            }
        });
    }

    //弹出框，刷新页面
    function alertMsg(msg) {
        layer.open({
            content: msg,
            yes: function (index, layero) {
                location.reload();
                layer.close(index);
            }
        });
    }

</script>
