@{
    ViewBag.Title = "栏目管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">栏目管理</a>
        <a>
            <cite>栏目列表</cite>
        </a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加栏目','/Column/Edit',800,600)"><i class="layui-icon"></i>添加</button>
                    <button class="layui-btn layui-btn-danger" id="delall">
                        <i class="layui-icon"></i>批量删除
                    </button>

                </div>
                <div class="layui-card-body">
                    <table id="columnTreeTb"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--显示状态按钮-->
<script type="text/html" id="showTpl">
    <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="显示|不显示">
</script>

<!--操作按钮-->
<script type="text/html" id="sublevelbar">
    <!--三级以下菜单，不显示添加子级-->
    {{#  if(d.level <3){ }}
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="add"><i class="layui-icon">&#xe642;</i>添加子级</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
    {{#  } }}
</script>

<script src="~/Scripts/column/column.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
