@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">栏目管理</a>
        <a href="">栏目列表</a>
    </span>
</div>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <button class="layui-btn" type="button" onclick="x_admin_show('添加栏目','@Url.Action("Edit","Column")',600,520)" style="float:left;background-color: #1b8fe4;">添加栏目</button>

            <button class="layui-btn" type="button" onclick="" style="float:left;margin-left:10px;background-color: #1b8fe4;">批量删除</button>
        </div>
    </div>
    <div id="content">
        <table class="layui-table" id="list" lay-filter="test">
        </table>

    </div>

</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="~/Content/Column/column.js?@DateTime.Now.ToString("yyyymmddhhMMss")"></script>
